@model ControlCLiente.Models.Entity.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vRUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vRUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vTelefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iClienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
